@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');
body{
    font-family: 'Gupter', serif;
    background-color: #efefef;
}
.hide{display: none;}
/* div{display: none;} */
div.show{display: block;}
.bor-rad{
    border-radius: 10px;
}

#t1{
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

.btn-chs{
    position: relative;
    margin: 5px;
    padding: 10px;
    border-color: black;

}

.shops{
    position: absolute;
    max-height: 170px;
    width: 14%;
    border: 3px black solid;
    border-radius: 10px;
    background-color: #4e754c;
    margin: 10px;
}
.text{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

.btn{
    position: relative;
    padding: 3px;
    margin: 5px;
    left: 25%;
    text-align: center;
    background-color: #5a8858;
}

.tool{
    left: 20%;
}

.prem{
    left: 40%;
}

#img3, #img4{
    position: absolute;
    top: 30%;
}

.tool-btn{
    position: relative;
    left: 50%;

}

.res{
    left: 60%;
}

.res-img{
    position: relative;
    max-width: 70%;
    max-height: 100%;
    left: 10%;
}
